.cardContainer{
    background-color: #d7e1e7;
    display: flex;
    gap: 2rem;
    margin: 2rem;
    border-radius: 1rem;
}

.image{
    width: 18rem;
    border: 8px solid black;
    margin: 2rem;
}

.textContainer{
    width: 50rem;
}

.title{
    margin-top: 2rem;
}

.paragraph{
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 2rem;
}

.button{
    border-style: none;
    background-color: #121212;
    color: aliceblue;
    font-size: 1rem;
    border-radius: 8px;
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
}